<!--<!doctype html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->

<!--    <title>About US</title>-->

<!--&lt;!&ndash;    code&ndash;&gt;-->

<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--                <style>-->
<!--                body {-->
<!--                  font-family: Arial, Helvetica, sans-serif;-->
<!--                  margin: 0;-->
<!--                }-->

<!--                html {-->
<!--                  box-sizing: border-box;-->
<!--                }-->

<!--                *, *:before, *:after {-->
<!--                  box-sizing: inherit;-->
<!--                }-->

<!--                .column {-->
<!--                  float: left;-->
<!--                  width: 33.3%;-->
<!--                  margin-bottom: 16px;-->
<!--                  padding: 0 8px;-->
<!--                }-->

<!--                .card {-->
<!--                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);-->
<!--                  margin: 8px;-->
<!--                }-->

<!--                .about-section {-->
<!--                  padding: 50px;-->
<!--                  text-align: center;-->
<!--                  background-color: #474e5d;-->
<!--                  color: white;-->
<!--                }-->

<!--                .container {-->
<!--                  padding: 0 16px;-->
<!--                }-->

<!--                .container::after, .row::after {-->
<!--                  content: "";-->
<!--                  clear: both;-->
<!--                  display: table;-->
<!--                }-->

<!--                .title {-->
<!--                  color: grey;-->
<!--                }-->

<!--                .button {-->
<!--                  border: none;-->
<!--                  outline: 0;-->
<!--                  display: inline-block;-->
<!--                  padding: 8px;-->
<!--                  color: white;-->
<!--                  background-color: #000;-->
<!--                  text-align: center;-->
<!--                  cursor: pointer;-->
<!--                  width: 100%;-->
<!--                }-->

<!--                .button:hover {-->
<!--                  background-color: #555;-->
<!--                }-->

<!--                @media screen and (max-width: 650px) {-->
<!--                  .column {-->
<!--                    width: 100%;-->
<!--                    display: block;-->
<!--                  }-->
<!--                }-->
<!--                </style>-->

<!--  </head>-->
<!--  <body>-->

<!--         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--          <div class="container-fluid">-->
<!--            <a class="navbar-brand" href="#">Bengali_OCR</a>-->
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--              <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--              <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--                </li>-->
<!--&lt;!&ndash;                <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a class="nav-link" href="#">About US</a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--                <li class="nav-item dropdown">-->
<!--                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                    Category-->
<!--                  </a>-->
<!--                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                    <li><a class="dropdown-item" href="#">Image2Text</a></li>-->
<!--                    <li><a class="dropdown-item" href="#">Speetch2Text</a></li>-->
<!--                    <li><hr class="dropdown-divider"></li>-->
<!--                    <li><a class="dropdown-item" href="#">Other Services</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--&lt;!&ndash;                <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a class="nav-link disabled">Disabled</a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--                 <li class="nav-item">-->
<!--                  <a class="nav-link" href="/about_us">About US</a>-->
<!--                </li>-->
<!--                 <li class="nav-item">-->
<!--                  <a class="nav-link" href="/contact_us">Contact US</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--              <form class="d-flex">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--        </nav>-->
<!--         <br>-->

<!--          <div class="about-section">-->
<!--                  <h1>About Us Page</h1>-->
<!--                  <p>We are MCA final semester students of CALCUTTA UNIVERSITY.</p>-->
<!--                  <p>Resize the browser window to see that this page is responsive by the way.</p>-->
<!--                </div>-->

<!--                <h2 style="text-align:center">Our Team</h2>-->
<!--                <div class="row">-->
<!--                  <div class="column">-->
<!--                    <div class="card">-->
<!--                      <img src="C:\Users\doloi\Desktop\Photo & CV\PHH.jpg" alt="Debabrata" style="width:100%">-->
<!--                      <div class="container">-->
<!--                        <h2>Debabrata Doloi</h2>-->
<!--                        <p class="title">CEO & Founder</p>-->
<!--                        <p class="title">Devoloper</p>-->
<!--                        <p>Head of the BengaliOCR project.</p>-->
<!--                        <p>unicorn@example.com</p>-->
<!--                        <p><button class="button">Contact</button></p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="column">-->
<!--                    <div class="card">-->
<!--                      <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">-->
<!--                      <div class="container">-->
<!--                        <h2>Mike Ross</h2>-->
<!--                        <p class="title">Art Director</p>-->
<!--                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>-->
<!--                        <p>mike@example.com</p>-->
<!--                        <p><button class="button">Contact</button></p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="column">-->
<!--                    <div class="card">-->
<!--                      <img src="/w3images/team3.jpg" alt="John" style="width:100%">-->
<!--                      <div class="container">-->
<!--                        <h2>John Doe</h2>-->
<!--                        <p class="title">Designer</p>-->
<!--                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>-->
<!--                        <p>john@example.com</p>-->
<!--                        <p><button class="button">Contact</button></p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->


<!--    &lt;!&ndash; Optional JavaScript; choose one of the two! &ndash;&gt;-->

<!--    &lt;!&ndash; Option 1: Bootstrap Bundle with Popper &ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->

<!--    &lt;!&ndash; Option 2: Separate Popper and Bootstrap JS &ndash;&gt;-->
<!--    &lt;!&ndash;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>-->
<!--    &ndash;&gt;-->
<!--  </body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>About US | BengaliOCR</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon.png">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets/css/style.css" rel="stylesheet">
    <link href="static/assets/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
            #hero{
                  background-image: url("static/assets/img/portfolio-hero.jpg");
                  background-repeat: no-repeat;
                  background-size: float;
            }
    </style>

</head>
<body>

    <header id="masthead" class="site-header site-header-white">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">

                <div class="navbar-header">
                    <img src="static/assets/img/logo.png" height="30" width="30">
                    <a href="index.html" class="site-title">Bengali<span>OCR</span></a>

                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="index.html">Home</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a onclick="location.href='/upload';">Image2Text</a></li>
                              <li><a href="blog.html">Pdf2Text</a></li>
                              <li><a href="blog.html">Speetch2Text</a></li>
                            </ul>

                        </li>
<!--                        <li><a href="portfolio.html">Portfolio</a></li>-->
                        <li><a href="blog.html">Blog</a></li>
                        <li class="active"><a href="/contact_us">Contact</a></li>
                        <li><a href="/about_us">About US</a></li>
                           <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Log IN<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a href="#">Sign UP</a></li>
                              <li><a href="#">Log IN</a></li>

                            </ul>

                        </li>

                    </ul>

                </div>

            </div>
        </nav><!-- /.site-navigation -->
    </header><!-- /#mastheaed -->

    <div id="hero" class="hero overlay subpage-hero contact-hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>About US</h1>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">About US</li>
                </ol>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section subpage-site-section section-contact-us">
            <div class="container">
                    <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
                        <img src="static/assets/img/PHH.jpg" height="230" width="230">
                        <h2> DEBABRATA DOLOI<br>
                        Project Head, Coader</h2>
                        <p>As a fressers I devolop this Bengali_OCR application , currently i am studying MCA in Calcutta University <br> This is my final semester project
                         </p>

                    </div>

            </div>


        </section><!-- /.section-contact-us -->

        <section id="map" class="section-map"></section><!-- /.section-map -->

    </main><!-- /#main -->

    <footer id="colophon" class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="site-title">Bengali<span>OCR</span></a>
                    <p>We're a digital agency focused on creative and results-driven solutions.</p>
                    <p>We measure our success by the results we drive for our clients.</p>
                </div>
                <div class="col-lg-offset-4 col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-0 col-xs-6 ">
                    <h3>Keep in touch</h3>
                    <ul class="list-unstyled contact-links">
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:bengaliocr@beng.com">bengaliocr@beng.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+917854670934 ">+917854670934 </a></li>
                        <li><i class="fa fa-fax" aria-hidden="true"></i><a href="+916534067533">+916534067533</a></li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i><p>Saltlake, Kolkata</p></li>
                    </ul>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <h3>Featured links</h3>
                    <ul class="list-unstyled">
                        <li><a href="/home_page">Home</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="portfolio.html">Services</a></li>
                        <li class="active"><a href="/contact_us">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="social-links">
                            <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="facebook-bg" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                            <a class="linkedin-bg" href="#"><i class="fa fa-linkedin"></i></a>
                        </div><!-- /.social-links -->
                    </div>
                    <div class="col-xs-4">
                        <div class="text-right">
                            <p>&copy; BengaliOCR</p>
                            <p>All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.copyright -->
    </footer><!-- /#footer -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>
    <script src="assets/js/jquery.countTo.min.js"></script>
    <script src="assets/js/jquery.shuffle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="assets/js/script.js"></script>

</body>
</html>