
<!--FINAL END CODE-->


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Upload | BengaliOCR</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon.png">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets/css/style.css" rel="stylesheet">
    <link href="static/assets/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9] -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

            body {
                font-size: 20px;
            }

            #leftbox {
                float:left;
                background:white;
                width:33.33%;
                height:float;
                border-style: double;
            }
            #middlebox{
                float:left;
                background:white;
                width:33.33%;
                height:float;
                border-style: double;
            }
            #rightbox{
                float:right;
                background:white;
                width:33.33%;
                height:float;
                border-style: double;
            }
            #sch_box{
                float:auto;
            }
            h1{
                color:black;
                text-align:center;
                font-size : 50px;
            }
            #main{
                  background-image: url("static/assets/img/dn3.jpg");
                  background-repeat: no-repeat;
                  background-size: 100%;

            }
            #head{
                background-color:#7B7E7E;
            }

            #searchhd{
                padding: 20px 20px;
            }






    </style>


</head>
<body>

    <header id="masthead" class="site-header site-header-white">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">

                <div class="navbar-header">
                    <img src="static/assets/img/logo.png" height="40" width="40">
<!--                    <a class="site-title">Bengali<span>OCR</span></a>-->

                    <a href="index.html" class="site-title">Bengali<span>OCR</span></a>

                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="index.html">Home</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a href="portfolio.html">Image2Text</a></li>
                              <li><a href="blog.html">Pdf2Text</a></li>
                              <li><a href="blog.html">Speetch2Text</a></li>
                            </ul>

                        </li>
<!--                        <li><a href="portfolio.html">Portfolio</a></li>-->
                        <li><a href="blog.html">Blog</a></li>
                        <li class="active"><a href="/contact_us">Contact</a></li>
                        <li><a href="/about_us">About US</a></li>
                           <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Log IN<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a href="#">Sign UP</a></li>
                              <li><a href="#">Log IN</a></li>

                            </ul>

                        </li>

                    </ul>

                </div>

            </div>
        </nav><!-- /.site-navigation -->
    </header><!-- /#mastheaed -->


    <main id="main" class="site-main">


            <section class="site-section subpage-site-section section-contact-us">
                    <div id="searchhd" class="topnav">
                        <form role="search" method="get" action="http://google.com/">
                            <div style="text-align: right;">
                                <input type="text" placeholder="Search..">
                                <button type="submit" >Submit</button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>
                     {% if msg %}
                        <h3>{{ msg }}</h3>
                     {% endif %}

                          <h1 class=" p-4 text-center">BENGALI_OCR APPLICATION</h1>

                         <div class="container" id="head">
                            <div class="py-5 text-center bg-secondary text-white">
                                 <h3>Upload new File</h3>

                                    <form method=post enctype=multipart/form-data>
                                      <p><input type=file name=file>
                                         <input type=submit  class ="btn btn-green" value=Upload>
                                    </form>
                            </div>
                         </div>


                        {% if msg %}
                          <h3>All Result Shown in the given below :-</h3>
                          <br>
                          <br>


                         <div id = "boxes">


                                <div id = "leftbox">
                                    <h2>IMAGE PREVIEW :- </h2>
                                    {% if img_src %}
                                       <img src="{{ img_src }}"  width='600' height='800'>
                                    {% endif %}
                                </div>

                                <div id = "middlebox">
                                    <h2>Extraxted Text :- </h2>
                                    {% if extracted_text %}
                                        <h4> <br>  {{ extracted_text }} </h4>

                                    {% else %}
                                        The extracted text will be displayed here
                                    {% endif %}
                                </div>

                                <div id = "rightbox">
                                    <div id="search1" class="topnav">
    <!--                                    <h2> Search Any Word From This file :- </h2>-->
                                        <form role="search" method="get" action="/">
                                            <div style="text-align: right;">
                                                <input type="text" placeholder="Search Any word from this file" name="value">
                                                <button type="submit" >Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                    <h2>Word Frequency and Line count</h2>
                                    {% if word_freq %}
                                        <h4>Total Word Frequency of that file is :-  {{word_freq}}</h4>
                                    {% endif %}
                                    <br><br>
                                    {% if word_count %}


                                        <h4>Total count of word is  :-  <br> <br>{{word_count}}</h4>
                                    {% endif %}


                                    <br><br>
                                    {% if n %}
                                        <h4>Total count of word is a <br>:-  {{n}}</h4>
                                    {% endif %}
                                </div>
                         </div>

                 <br><br>
                      <div class="text-center">
                         <a href="/download" download="apple">
                             <button type="button" class ="btn btn-green">Download</button>
                         </a>
                      </div>
                    {% endif %}

           </div>


                </section><!-- /.section-contact-us -->

                <section id="map" class="section-map"></section><!-- /.section-map -->

    </main><!-- /#main -->

    <footer id="colophon" class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="site-title">Bengali<span>OCR</span></a>
                    <p>We're a digital agency focused on creative and results-driven solutions.</p>
                    <p>We measure our success by the results we drive for our clients.</p>
                </div>
                <div class="col-lg-offset-4 col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-0 col-xs-6 ">
                    <h3>Keep in touch</h3>
                    <ul class="list-unstyled contact-links">
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:bengaliocr@beng.com">bengaliocr@beng.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+917854670934 ">+917854670934 </a></li>
                        <li><i class="fa fa-fax" aria-hidden="true"></i><a href="+916534067533">+916534067533</a></li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i><p>Saltlake, Kolkata</p></li>
                    </ul>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <h3>Featured links</h3>
                    <ul class="list-unstyled">
                        <li><a href="/home_page">Home</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="portfolio.html">Services</a></li>
                        <li class="active"><a href="/contact_us">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="social-links">
                            <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="facebook-bg" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                            <a class="linkedin-bg" href="#"><i class="fa fa-linkedin"></i></a>
                        </div><!-- /.social-links -->
                    </div>
                    <div class="col-xs-4">
                        <div class="text-right">
                            <p>&copy; BengaliOCR</p>
                            <p>All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.copyright -->
    </footer><!-- /#footer -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>
    <script src="assets/js/jquery.countTo.min.js"></script>
    <script src="assets/js/jquery.shuffle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="assets/js/script.js"></script>

</body>
</html>
